# Node modules
node_modules/

# Vite dist build
dist/
build/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
vite.config.ts.timestamp*
vite.config.js.timestamp*
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Optional
temp/
tmp/
